
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="alert-success">
    Session details passed from Home Controller @ViewBag.Details
</div>
